.form-group{
   margin-bottom: 1rem;
   
}

#search{
    color: #fff;
    background-color: blue;
    font-size: 1rem;
    outline: none;
    min-height: 38px;
    font-size: 400;
    text-align: center;
    cursor: pointer;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

#inputValue{
    width: 760px;
    font-size: 1rem;
    font-weight: 400;
    outline: none;
    min-height: 38px;
    font-size: 400;
    text-align: center;
    cursor: pointer;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

#movies-searchable{
    margin-top: 20px;
}

section{
    display: flex;
    width: 100%;
    overflow: auto;
}

section img{
    width: 300px;
}

img:hover{
  margin-left: 0 40px;
  transform: scale(1.2);
  cursor: pointer;

}